body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    }
    h1{

        font-size: 55px;
    }
h2{
    font-size: 40px;
}
p{
    font-style: justify;
}
    .orange {
        color: orange;
    }

    .flexible-container{

        display: flex;
        margin-bottom: 150px;
    }

    .half-width{
        width: 50%; 
        padding: 5%%;
    }
    .half-width img{

        width: 80%;
    }

    .link-button{

        text-decoration: none;
        color: white;
        font-weight: 800;
        background-image: linear-gradient(red,orange);
        padding: 10px 40px;
        border-radius: 5px;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat
    }

    .dream-big{

        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }

   .experience-area{
       background-image: url(images/exp-bg.png);
       background-repeat: no-repeat;
       background-position: left;
   }

    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;
        border-radius: 10;
        box-shadow: 10px 10px 10px gray;
        
    }
    #web-dev-experience{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;
    }
    #full-stack-experience{
        border-left: 7px solid;
        border-image: linear-gradient(red, orange);
        border-image-slice: 1;
    }

    footer p{
        text-align: center;
    }